#homepage-metro .ps-home-product {
  padding: 100px 15px 0;
}
#homepage-metro .ps-home-product .ps-block--collection {
  margin-bottom: 30px;
  text-align: left;
  min-height: 460px;
}
#homepage-metro .ps-home-product .ps-block--collection.small {
  min-height: 220px;
}
#homepage-metro .ps-home-product .ps-section__header {
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 60px;
}
#homepage-metro .ps-home-product .ps-section__header h5 {
  color: #91c1b8;
  font-size: 16px;
  margin-bottom: 30px;
}
#homepage-metro .ps-home-product .ps-section__header h3 {
  margin-bottom: 48px;
  font-size: 36px;
  color: #f68773;
  line-height: 1.1em;
  max-width: 100%;
}
#homepage-metro .ps-home-product .ps-section__header p {
  font-size: 16px;
  color: #222;
  margin-bottom: 0;
}

#homepage-metro .ps-home-subscribe--center h3 {
  font-size: 24px;
}

#homepage-metro .ps-home-subscribe--center .ps-section__header {
  text-align: center;
  margin-bottom: 50px;
}

#homepage-metro .ps-home-subscribe--center form {
  max-width: 628px;
  margin: 0 auto;
}
#homepage-metro .ps-home-subscribe--center form input {
  background-color: #f2f2f2;
  border: none;
  border-radius: 50px;
  text-indent: 20px;
}
#homepage-metro .ps-home-subscribe--center form i {
  left: 30px;
}
#homepage-metro .ps-home-subscribe--center form button {
  right: 30px;
  font-size: 14px;
}

@media (min-width: 1200px) {
  #homepage-metro .ps-home-subscribe--center h3 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  #homepage-metro .ps-home-product {
    padding: 185px 30px 0;
  }
  #homepage-metro .ps-home-product .ps-block--collection {
    text-align: left;
    min-height: 910px;
  }
  #homepage-metro .ps-home-product .ps-block--collection.small {
    min-height: 440px;
  }
  #homepage-metro .ps-home-product .ps-section__header {
    padding-bottom: 115px;
  }
  #homepage-metro .ps-home-product .ps-section__header h3 {
    font-size: 72px;
  }
  #homepage-metro .ps-home-product .ps-section__header p {
    font-size: 18px;
  }
}
