#homepage-sidebar .ps-home-intro-2 {
  padding-bottom: 60px;
}

#homepage-sidebar .ps-home-collection .ps-section__header {
  padding-bottom: 95px;
}
#homepage-sidebar .ps-home-collection .ps-section__header h3 {
  line-height: 1em;
  font-size: 36px;
  color: #222;
}
#homepage-sidebar .ps-home-collection .ps-section__header p {
  font-size: 16px;
}

#homepage-sidebar .ps-home-collection .ps-block--collection {
  text-align: left;
  margin-bottom: 30px;
}
#homepage-sidebar .ps-home-collection .ps-block--collection p {
  font-size: 30px;
  color: #222;
}
#homepage-sidebar .ps-home-collection .ps-block--collection .ps-link--under {
  position: relative;
  z-index: 20;
}

#homepage-sidebar .ps-home-slogan {
  margin: 0 auto;
  padding: 70px 0 0;
  max-width: 700px;
  text-align: center;
}
#homepage-sidebar .ps-home-slogan h4 {
  margin-bottom: 0;
  font-style: italic;
  font-weight: 400;
  color: #222;
  font-size: 24px;
}

@media (min-width: 1200px) {
  #homepage-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #homepage-sidebar > * {
    width: 100%;
  }
  #homepage-sidebar .ps-page__wrapper {
    max-width: calc(100% - 350px);
  }
  #homepage-sidebar .ps-page__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 350px;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
  }
  #homepage-sidebar .ps-home-intro-2 {
    padding-bottom: 150px;
  }
  #homepage-sidebar .ps-home-slogan h4 {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  #homepage-sidebar .ps-home-collection .ps-block--collection {
    position: relative;
  }
  #homepage-sidebar .ps-home-collection .ps-block--collection.wide {
    width: calc(100% + ((100vw - 1170px - 350px) / 2));
  }
}
