#homepage-moderm .ps-home-collection .row {
  margin: 0 -5px;
}
#homepage-moderm .ps-home-collection .row > * {
  padding: 0 5px;
}
#homepage-moderm .ps-home-collection .row .ps-block--collection {
  margin-bottom: 10px;
}

#homepage-moderm .ps-home-product .ps-product .ps-product__content {
  text-align: center;
}

#homepage-moderm .ps-home-product .ps-section__footer {
  text-align: center;
}
#homepage-moderm .ps-home-product .ps-section__footer .ps-btn {
  color: #ffffff;
  border: none;
  background-color: #f68773;
  border-radius: 50px;
}
#homepage-moderm .ps-home-product .ps-section__footer .ps-btn:before {
  display: none;
}

@media (min-width: 992px) {
  #homepage-moderm .ps-home-product {
    padding-bottom: 100px;
  }
  #homepage-moderm .ps-home-product .ps-section__header {
    display: block;
    text-align: center;
    padding-bottom: 75px;
  }
  #homepage-moderm .ps-home-product .ps-section__header h3 {
    margin-bottom: 30px;
  }
  #homepage-moderm .ps-home-product .ps-section__header ul {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #homepage-moderm .ps-home-product {
    padding-bottom: 120px;
  }
}

@media (min-width: 1200px) {
  #homepage-moderm .ps-home-last-change {
    padding-bottom: 50px;
  }
}
