#homepage-carousel .ps-home-product {
  padding-bottom: 60px;
}
#homepage-carousel .ps-home-product .ps-product .ps-product__title {
  font-weight: 700;
  font-size: 18px;
  color: #222;
}
#homepage-carousel .ps-home-product .ps-product .ps-product__title:hover {
  color: #f68773;
}
#homepage-carousel .ps-home-product .ps-section__header {
  padding-bottom: 60px;
}
#homepage-carousel .ps-home-product .ps-section__header figcaption {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
  color: #222;
  line-height: 1.1em;
}
#homepage-carousel .ps-home-product .ps-section__header p {
  margin: 20px 0 0;
  padding-top: 40px;
  position: relative;
  font-size: 16px;
  max-width: 470px;
}
#homepage-carousel .ps-home-product .ps-section__header p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 1px;
  background-color: #f68773;
  display: none;
}
#homepage-carousel .ps-home-product .ps-section__footer {
  text-align: center;
  padding-top: 30px;
}
#homepage-carousel .ps-home-product .ps-section__footer p {
  margin-bottom: 30px;
  font-size: 24px;
  color: #222;
  line-height: 1.1em;
  font-weight: 700;
}

#homepage-carousel .ps-home-subscribe--center {
  padding: 60px 0;
}
#homepage-carousel .ps-home-subscribe--center h3 {
  font-size: 24px;
}
#homepage-carousel .ps-home-subscribe--center .ps-section__header {
  text-align: center;
  margin-bottom: 50px;
}
#homepage-carousel .ps-home-subscribe--center form {
  max-width: 628px;
  margin: 0 auto;
}
#homepage-carousel .ps-home-subscribe--center form input {
  background-color: #f68773;
  border: none;
  border-radius: 50px;
  text-indent: 20px;
}
#homepage-carousel
  .ps-home-subscribe--center
  form
  input::-webkit-input-placeholder {
  color: #ffffff;
}
#homepage-carousel .ps-home-subscribe--center form input::-moz-placeholder {
  color: #ffffff;
}
#homepage-carousel .ps-home-subscribe--center form input:-moz-placeholder {
  color: #ffffff;
}
#homepage-carousel .ps-home-subscribe--center form input:-ms-input-placeholder {
  color: #ffffff;
}
#homepage-carousel .ps-home-subscribe--center form i {
  left: 30px;
  color: #ffffff;
}
#homepage-carousel .ps-home-subscribe--center form button {
  right: 30px;
  font-size: 14px;
  color: #ffffff;
}
@media (min-width: 1200px) {
  #homepage-carousel .ps-home-subscribe--center {
    padding: 200px 0 100px;
  }
  #homepage-carousel .ps-home-subscribe--center h3 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  #homepage-carousel .ps-home-banner .owl-slider .owl-nav .owl-prev {
    margin-left: 0px;
  }
  #homepage-carousel .ps-home-banner .owl-slider .owl-nav .owl-next {
    margin-right: 0px;
  }
  #homepage-carousel .ps-home-banner .ps-banner--carousel {
    min-height: 400px;
  }
  #homepage-carousel .ps-home-product {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #homepage-carousel .ps-home-product .ps-section__header {
    padding-bottom: 140px;
  }
  #homepage-carousel .ps-home-product .ps-section__header figcaption {
    margin-bottom: 80px;
    font-size: 36px;
  }
  #homepage-carousel .ps-home-product .ps-section__header p {
    padding-top: 80px;
  }
  #homepage-carousel .ps-home-product .ps-section__header p:before {
    display: block;
  }
  #homepage-carousel .ps-home-product .ps-section__footer {
    padding-top: 70px;
  }
  #homepage-carousel .ps-home-product .ps-section__footer p {
    margin-bottom: 60px;
    font-size: 36px;
  }
}

@media (min-width: 1400px) {
  #homepage-carousel .ps-home-banner .owl-slider .owl-nav > * i {
    color: #999;
  }
  #homepage-carousel .ps-home-banner .owl-slider .owl-nav > *:hover i {
    color: #222;
  }
  #homepage-carousel .ps-home-banner .owl-slider .owl-nav .owl-prev {
    margin-left: -70px;
  }
  #homepage-carousel .ps-home-banner .owl-slider .owl-nav .owl-next {
    margin-right: -70px;
  }
}

@media (min-width: 1680px) {
  #homepage-carousel .ps-home-banner .ps-banner--carousel {
    min-height: 545px;
  }
}
