#home-full-banner .ps-home-banner .ps-carousel--nav .owl-nav > * i {
  color: #fff;
}

#home-full-banner .ps-home-banner .ps-carousel--nav .owl-dots .owl-dot {
  background-color: #fff;
}
#home-full-banner .ps-home-banner .ps-carousel--nav .owl-dots .owl-dot.active {
  background-color: transparent;
  border-color: #fff;
}

#home-full-banner .ps-home-banner .ps-section__footer {
  display: none;
}

@media (min-width: 1200px) {
  #home-full-banner .ps-home-banner .ps-carousel--nav {
    z-index: 100;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-prev {
    margin-left: 20px;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-next {
    margin-right: 20px;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-dots {
    visibility: hidden;
    opacity: 0;
  }
  #home-full-banner .ps-home-banner .ps-section__subscribe {
    background-color: #4619c8;
    padding: 40px 70px;
    min-width: 645px;
  }
  #home-full-banner .ps-home-banner .ps-section__subscribe h3 {
    color: #ffffff;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #home-full-banner .ps-home-banner .ps-section__subscribe h3:after {
    content: '\e699';
    font-family: linearicons;
    font-size: 30px;
  }
  #home-full-banner
    .ps-home-banner
    .ps-section__subscribe
    .ps-form--keep-connected
    input {
    color: #fff;
  }
  #home-full-banner
    .ps-home-banner
    .ps-section__subscribe
    .ps-form--keep-connected
    input:focus {
    background-color: transparent;
  }
  #home-full-banner
    .ps-home-banner
    .ps-section__subscribe
    .ps-form--keep-connected
    button {
    color: #ffffff;
  }
  #home-full-banner .ps-home-banner .ps-carousel-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  #home-full-banner .ps-home-banner .ps-carousel-links li {
    max-width: 155px;
  }
  #home-full-banner .ps-home-banner .ps-carousel-links li a span {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 14px;
  }
  #home-full-banner .ps-home-banner .ps-carousel-links li a strong {
    display: block;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  #home-full-banner .ps-home-banner .ps-carousel-links li.active a > * {
    color: #ffffff;
  }
  #home-full-banner .ps-home-banner .ps-section__left {
    width: 100%;
    padding-right: 150px;
    padding-left: calc((100% - 1170px) / 2);
  }
  #home-full-banner .ps-home-banner .ps-section__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 100;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1366px) {
  #home-full-banner .ps-home-banner .ps-carousel--nav {
    z-index: 100;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-prev {
    margin-left: 30px;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-next {
    margin-right: 30px;
  }
}

@media (min-width: 1680px) {
  #home-full-banner .ps-home-banner .ps-carousel--nav {
    z-index: 100;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-prev {
    margin-left: 80px;
  }
  #home-full-banner .ps-home-banner .ps-carousel--nav .owl-next {
    margin-right: 80px;
  }
}

/*# sourceMappingURL=home-full-slider.css.map */
