#homepage-instagram .ps-home-introduction {
  padding: 70px 0;
  text-align: center;
}
#homepage-instagram .ps-home-introduction h3 {
  font-size: 24px;
}
#homepage-instagram .ps-home-introduction p {
  color: #666;
}
@media (min-width: 1200px) {
  #homepage-instagram .ps-home-introduction {
    padding: 180px 110px 100px;
  }
  #homepage-instagram .ps-home-introduction h3 {
    margin-bottom: 40px;
    font-size: 36px;
  }
  #homepage-instagram .ps-home-introduction p {
    font-size: 16px;
  }
}
